.thumbnail {
    background-color: white !important;
    border: 1px solid gray !important;
    position: relative;
  }
  
  .thumbnail img {
    width: 100%;
    height: 350px;
  }
  
  .thumbnail .add-to-favorite {
    appearance: none;
    background-color: transparent;
    border: 0px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  